.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .user-logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  .user-name {
    display: flex;
    align-items: center;
  }
  
  .user-name span {
    margin-right: 10px;
  }
  
  .app-name {
    font-size: 20px;
  }