.topbar{
    background-color: gray;
    display:flex;
    min-height: 1vh;
    flex-direction: column;
    align-items:flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left:0.5em;
}